body {
	margin: 0px;
	font-family: arial;
}

h3 {
font-size: 1.5rem;
}

form {
	font-size: 1rem;
	line-height: 2rem;
}

textarea {
    width: 500px;
    height: 200px;
}

#navbar {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	background-color: #4484ce;
	z-index: 2;
	height: 60px;
}

#navbar ul {
	list-style-type: none;
	position: absolute;
	right: 6rem;
	top: 1rem;
}

.nav-link-li {
	position: relative;
	display: inline-block;
	font-family: arial;
	text-decoration: none;
	margin-left: 3rem;
	color: black;
	font-size: 1.1rem;
	font-weight: 900;
}


.section-height {
	height: 100vh;
background-clip: padding-box;
border-width: 0px;
border-top: 60px;
border-style: solid;
border-color: transparent;
	margin-top: -60px;
}

.content-container {
	position: relative;
	display: block;
	text-align: center;
	font-size: 1.5rem;
}

.content-container h1 {
	line-height: 1rem;
}

#welcome-section {
	padding-top: 60px;
	background-color: #f9cf00;
}

#welcome-container {
	margin-top: 20%;
	font-size: 3rem;
	line-height: 1rem;
}

#welcome-container h2 {
	font-size: 1.5rem;
}

#projects {
	background-color: #d9d9d9;
	text-align: center;
}

#project-flex {
	height: 70vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

}

.project-title  {
	display: block;
	position: relative;
text-align: center;
padding-bottom: 50px;
margin: 0px 15px;
width
	/*margin: 10px 10px;*/
}
.project-img {
	width: 50%;
	/*margin: 0px 10px;*/
}

.project-image-text-hider {
	width: 200px;
	height: 200px;
	display: inline;
	position: absolute;
	top: auto;
	right: auto;
	left: 100px;
	bottom: auto;
	margin: 0px;
	background-color: transparent;
}

.project-image-text-hider:hover p {
	visibility: visible;
}

.project-image-text-hider:hover {
background-color: rgba(255,255,255,.4);
}

.project-image-text {
	height: 100px;
	width: 200px;
	display: block;
	position: relative;
	margin: 25% 0;
	visibility: hidden;
	color: black;
	font-size: 1.5rem
}


#contact {
	background-color: #f19f4d;
}

